@import "another/reset";
@import "mixins";
@import "variables";
@import "blocks/fonts";
@import "container";

html {
  scroll-behavior: smooth;
}

span {
  display: inline-block;
}
strong {
  display: block;
}
body {
  background-color: #000;
}

.page {
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.intro_img {
  position: absolute;
  top: 0;
  z-index: -1000;
  width: 100%;
  height: 100%;
  height: 1480px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/intro_images/1.png);
}

.first_block {
  background: linear-gradient(330.24deg, rgba(0, 0, 0, 0) 31.06%, #000000 108.93%);
  padding: 0 20px;
  padding-bottom: 230px;
}

.box-shadow {
  background: transparent;
  position: absolute;
  height: 358px;
  width: 100%;
  top: 1122px;
  background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 77.78%);
}

@import "blocks/header";
@import "blocks/intro";
@import "blocks/section";
@import "blocks/info";
@import "blocks/carousel";
@import "blocks/footer";
