.footer {
  margin-bottom: 100px;
}

.footer_caption {
  display: flex;
  justify-content: space-between;
  .footer_caption_link {
    a {
      display: inline-block;
      background: #ffa343;
      border-radius: 8px;
      padding: 24px 75px;

      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      line-height: 22px;

      color: #000000;

      transition: color 0.3s, background 0.3s;

      &:hover {
        color: #ffa343;
        background: #000;
      }
    }

    span {
      display: inline-block;
      margin-right: 50px;
      font-family: DM Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 29px;

      letter-spacing: -0.3px;

      color: #fff;
      @include breakpoint($mobile-bp) {
        margin-right: 0;
      }
    }
    @include breakpoint($mobile-bp) {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }
  }
  @include breakpoint($tablet-bp) {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}

.footer_br {
  margin: 50px 0;
  height: 1.38px;
  width: 100%;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.3;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
  @include breakpoint($tablet-bp) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 130px;
    padding: 0 50px;
    gap: 50px;
    justify-items: start;
  }
  @include breakpoint($mini_tablet-bp) {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}

.footer_vacation {
  max-width: 400px;
  .footer_text {
    margin-bottom: 50px;
  }
  .footer_input {
    display: flex;
    border-bottom: 1.38px solid rgba(255, 255, 255, 0.3);
    input {
      width: 100%;
      display: inline-block;
      padding: 30px;
      background: #000000;
      border: none;
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 20px;

      letter-spacing: -0.204545px;

      color: #ffffff;

      &:focus {
        color: #fff;
        border: 0px;
      }
    }
    .input_btn {
      display: flex;
      align-items: center;
      align-content: center;
      background: #ffa343;
      border-radius: 8px 8px 0px 0px;
      padding: 30px;
      .arrow {
        border-right: 3px solid;
        border-top: 3px solid;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
      }
    }
  }
}

.footer_links {
  display: flex;
  flex-direction: column;
  .footer_links_title {
    margin-bottom: 45px;
  }
  .footer_link {
    margin-bottom: 45px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @include breakpoint($mini_tablet-bp) {
    align-items: center;
  }
}

.footer_social {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .footer_social_text {
    span {
      margin-left: 50px;
      @include breakpoint($mini_tablet-bp) {
        display: block;
        margin-left: 0;
      }
    }
    @include breakpoint($mini_tablet-bp) {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
    }
  }
  .footer_social_icons {
    img {
      margin-right: 50px;
      @include breakpoint($mini_tablet-bp) {
        margin-right: 0;
      }
    }
    @include breakpoint($mini_tablet-bp) {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
  }
  @include breakpoint($mini_tablet-bp) {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }
}
