.header {
  position: relative;
  top: 40px;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include breakpoint($tablet-bp) {
    display: none;
    &.show {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      position: absolute;
      top: 15px;
      width: 97.3%;
      padding: 20px;
      gap: 30px;
      background: rgba(#000, 0.6);
      z-index: 100;
      box-shadow: -2px 2px 45px 15px rgba(0, 0, 0, 0.6);
      .header_links {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 97.3%;
        gap: 30px;
      }
    }
  }
}

.header_link {
  margin-right: 50px;
  &:last-child {
    margin-right: 0;
  }
}

.header_search {
  opacity: 0.6;
  &::before {
    content: "";
    display: inline-block;
    width: 13.84px;
    height: 13.84px;
    background: url(/assets/images/intro_images/search.svg);
    fill: currentColor;
    margin-right: 17.26px;
  }
}

.burger {
  display: none;
  height: 5px;
  width: 100%;
  border: none;
  border-radius: 3px;
  position: relative;
  background-color: rgba(#fff, 0.3);
  cursor: pointer;
  &::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 3px;
    top: -10px;
    background-color: rgba(#fff, 0.3);
    height: 5px;
    width: 100%;
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 3px;
    bottom: -10px;
    background-color: rgba(#fff, 0.3);
    height: 5px;
    width: 100%;
  }
  @include breakpoint($tablet-bp) {
    display: block;
  }
}
