section {
  background-color: transparent;
  margin-bottom: 270px;
}

.section_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include breakpoint($laptop-bp) {
    flex-direction: column;
    gap: 100px;
  }
}

.section_image {
  @include breakpoint($tablet-bp) {
    height: auto;
    width: 80%;
  }
}

.section_content {
  max-width: 632px;
  @include breakpoint($laptop-bp) {
    max-width: 90%;
    text-align: center;
  }
}

.section_suptitle {
  margin-bottom: 27px;
  text-transform: uppercase;

  &::before {
    content: "";
    background-color: #ffc178;
    width: 72px;
    height: 2px;
    margin-right: 32px;
    display: inline-block;
    position: relative;
    top: -5px;
    @include breakpoint($mini_mobile-bp) {
      width: 40px;
    }
  }
}

.section_title {
  margin-bottom: 27px;
}

.section_text {
  margin-bottom: 27px;
}

.section_button {
  &.fyellow {
    text-transform: lowercase;
    letter-spacing: normal;
    &::after {
      content: "";
      display: inline-block;
      width: 24px;
      height: 16px;
      background: url(/assets/images/section_image/arrowSection.svg);
      fill: currentColor;
      margin-left: 9px;
    }
  }
}
