<section class="carousel">
  <div class="carousel_container">
    <div class="carousel_track">
      <img src="/assets/images/carousel_images/1.jpg" alt="" class="carousel_item" />
      <img src="/assets/images/carousel_images/2.jpg" alt="" class="carousel_item" />
      <img src="/assets/images/carousel_images/3.jpg" alt="" class="carousel_item" />
      <img src="/assets/images/carousel_images/4.jpg" alt="" class="carousel_item" />
      <img src="/assets/images/carousel_images/5.jpg" alt="" class="carousel_item" />
    </div>
  </div>
  <div class="carousel_content">
    <span class="carousel_suptitle fyellow">Bromo</span>
    <span class="carousel_title fz64">Steady your steps, we will climb together!</span>
    <span class="carousel_text fz18">Enjoying the vast expanse of the sea of ​​​sand, witnessing the splendor of Mount Semeru that soars into the sky, and gazing at the beauty of the sun moving out of its bed or otherwise enjoying the dim twilight from the Bromo ridge is an unforgettable experience when visiting Bromo.</span>
    <span class="section_button fyellow">read more</span>
  </div>
  <div class="arrayLeft"></div>
  <div class="arrayRight"></div>
</section>
