<section class="culture">
    <div class="container">
        <div class="section_inner">
            <div class="section_content">
                <span class="section_suptitle fyellow">EAST nUSA TENGGARA</span>
                <span class="section_title fz64">Have you enjoyed your holiday?</span>
                <span class="section_text fz18">You will be amazed if you take part in this sailing Komodo island tour package. So it is also mandatory for you, besides enjoying Komodo tourism on Komodo Island, you also have to taste the marine tourism.  The beautiful waters of Komodo will make you meet many travelers from other countries.</span>
                <span class="section_button fyellow">read more</span>
            </div>
            <img class="section_image" src="../assets/images/section_image/culture.png"></img>
        </div>
    </div>
</section>