<footer class="footer">
  <div class="container">
    <div class="footer_inner">
      <div class="footer_caption">
        <span class="footer_logo fz48">QWERy</span>
        <div class="footer_caption_link">
          <span>Ready to explore?</span>
          <a href="#">Get started</a>
        </div>
      </div>

      <div class="footer_br"></div>

      <div class="footer_content">
        <div class="footer_vacation">
          <span class="footer_text fz36">Let's go on vacation, Make your day</span>
          <div class="footer_input">
            <input type="email" placeholder="Email address" />
            <button class="input_btn"><div class="arrow"></div></button>
          </div>
        </div>
        <div class="footer_links">
          <span class="footer_links_title ffooterLT">Services</span>
          <a href="#" class="footer_link fz19">Email Marketing</a>
          <a href="#" class="footer_link fz19">Campaigns</a>
          <a href="#" class="footer_link fz19">Branding</a>
          <a href="#" class="footer_link fz19">Offline</a>
        </div>
        <div class="footer_links">
          <span class="footer_links_title ffooterLT">About</span>
          <a href="#" class="footer_link fz19">Our story</a>
          <a href="#" class="footer_link fz19">Benefits</a>
          <a href="#" class="footer_link fz19">Team</a>
          <a href="#" class="footer_link fz19">Careers</a>
        </div>
        <div class="footer_links">
          <span class="footer_links_title ffooterLT">Help</span>
          <a href="#" class="footer_link fz19">FAQs</a>
          <a href="#" class="footer_link fz19">Contact us</a>
        </div>
      </div>

      <div class="footer_social">
        <div class="footer_social_text">
          <span class="fz15">Terms & Conditions</span>
          <span class="fz15">Privacy Policy</span>
        </div>
        <div class="footer_social_icons">
          <a class="footer_icon" href=""><img src="../assets/images/icons/facebook.svg" /></a>
          <a class="footer_icon" href=""><img src="../assets/images/icons/twitter.svg" class="footer_icon" /></a>
          <a class="footer_icon" href=""><img src="../assets/images/icons/instagram.svg" class="footer_icon" /></a>
        </div>
      </div>
    </div>
  </div>
</footer>
