<header class="header">
  <div class="container container--intro">
    <div class="header_inner" id="nav">
      <span class="header_logo fz24">QWERy</span>
      <div class="header_links">
        <a href="#" class="header_link fz18">Information</a>
        <a href="#" class="header_link fz18">About us</a>
        <a href="#" class="header_link fz18">Culture</a>
      </div>
      <div class="header_search">
        <span class="search_text fz17">Search</span>
      </div>
    </div>
    <div class="burger" id="burger"></div>
  </div>
</header>
